<template>
    <div>
        <v-container>
            <div class="pa-6">
                <v-text-field
                        v-model="address"
                        type="text"
                        class="form-control"
                        id="search_input"
                        placeholder="Type address..."
                />
                <v-progress-circular
                        v-if="loading"
                        :size="50"
                        color="primary"
                        indeterminate
                ></v-progress-circular>
            </div>

            <v-alert class="col-lg-2" v-if="showErrorAlert  "
                     color="red"
                     type="success"
            >Try another place name
            </v-alert>


            <v-simple-table height="300px" class="col-lg-6" v-if="info">
                <template v-slot:default>
                    <thead>
                    <tr>
                        <th class="text-left">
                            Place
                        </th>
                        <th class="text-left">
                            Temperature
                        </th>
                        <th class="text-left">
                            Type
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ info.location }}</td>
                        <td>{{ info.temperature }}</td>
                        <td>{{ info.type }}</td>
                    </tr>
                    </tbody>
                </template>
            </v-simple-table>
        </v-container>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations} from 'vuex'

    export default {
        data() {
            return {
                address: '',
                loading: false,
                showErrorAlert: false
            }
        },
        computed: {
            ...mapGetters({
                info: 'INFO',
                error: 'ERROR'
            }),
        },
        watch: {
            info(val) {
                if (val) {
                    this.loading = false
                }
            },
            error(val) {
                if (val) {
                    this.loading = false;
                    this.showErrorAlert = true;
                }

                this.showError(false)
            },
        },

        mounted() {
            this.initGoogleAutocomplate();
        },
        methods: {
            initGoogleAutocomplate() {
                let autocomplete;
                autocomplete = new google.maps.places.Autocomplete((document.getElementById('search_input')), {
                    types: ['geocode'],
                    // componentRestrictions: {
                    //  country: "AM"
                    // }
                });

                google.maps.event.addListener(autocomplete, 'place_changed', () => {
                    this.showErrorAlert = false;
                    this.loading = true;
                    let near_place = autocomplete.getPlace();
                    this.address = near_place.formatted_address;
                    this.getData({address: near_place.name, formatted_address: this.address})
                });
            },
            ...mapActions({
                getData: 'getData'
            }),
            ...mapMutations({
                showError: 'SET_ERROR'
            }),
        }
    }
</script>